
/* basic styles */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center; /* выравнивание по вертикали */
  width: 100%;
  height: 293px;
  justify-content: space-between;
  
  background: #67bdb1;
}

.menu-otn {
  margin-left: 50px;
}

.list-marker-header {
  display: flex;      
}

.list-marker-header li {
  margin-right: 32px; /* Расстояние между элементами */
}

.list-marker-header .list-marker-header-end {
  margin-right: 0;
}

.logo-otn {
  display: block;
  width: 135px;
  height: 105px; 
}

.address-otn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  max-width: 240px;
  height: 98px;
  margin-right: 50px;
  justify-self: end;
  line-height: 1.3;
}

.main {
  background: #0f1fff;
}

.cover {
  width: 100%;
  height: 757px;
  /* height: 100vh; */
  /* TODO: оптимизировать до background: #ff0000 url('image.jpg') no-repeat center / cover; */
  background-image: url('/images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.size-title-otn {
  font-weight: bold;
  font-size: 100px;
}

.description {
  font-size: 22px;
}

.text-things {
  font-weight: normal;
  /* растянуть текст */
}

.btn-see-all-lots {
  font-weight: 500;
  /* снести базовые стили кнопки */
}

.lots-otn {
  
}

.block-lots {

}

.block-lots__film {
  background-image: url('/images/card-lot-01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block-lots__book {
  background-image: url('/images/card-lot-02.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block-lots__picture {
  background-image: url('/images/card-lot-03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  background: #1df539;
}

.list-marker-footer {
  /* если понадобиться */
}

/* for multiple use */

.bold-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 40px;
}

.font-main {
  font-size: 20px;
}

.list-marker-header {
  list-style-type: circle;
}

/* .list-marker-footer {
  если понадобиться, но удобнее
  универсальным св-ом list-no-marker
} */

.list-no-marker {
  list-style-type: none;
}

.font-list {
  font-weight: normal;
  font-size: 18px;
}

.font-list__underlined {
  text-decoration: underline;
  text-underline-offset: 4px; /* сделать полосу чуть ниже */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* черный фон, 60 % прозрачности
  нужно наложить сверху через z-index наверх посмотри как  */
}
