
/* basic styles */

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: auto;
  align-items: center; /* выравнивание по вертикали */
  width: 100%;
  min-height: 293px;
  justify-content: space-between;
  text-underline-offset: 4px;
}

.header__menu-otn {
  margin: -5px 0 0 50px;
}

.list-marker-header {
  display: flex;      
}

.list-marker-header li {
  margin-right: 32px; /* Расстояние между элементами */
}

.list-marker-header .list-marker-header-end {
  margin-right: 0;
}

.logo-otn {
  display: block;
  width: 135px;
}

.header__address-otn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  max-width: 240px;
  min-height: 98px;
  margin-right: 50px;
  justify-self: end;
  line-height: 1.3;
  gap: 2px;
}

/* cover */

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background: 
  url('/images/cover.jpg') 
  no-repeat center / cover;
  color: #fff;
}

.cover__size-title-otn {
  font-weight: bold;
  min-height: 385px;
  width: 100%;
  max-width: 1000px;
  margin: 165px auto 0;
  font-size: 100px;
  letter-spacing: 0.30em;
  line-height: 1.3em; 
}

.cover__spans {
  display: block;
}

.cover__span-start {
  margin-top: -6px;
}

.cover__span-center {
  text-align: center;
  padding: 3px 0 0 28px;
}

.cover__span-end {
  text-align: right;
  margin: 5px -30px 0 0;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 98px auto 0;
  font-size: 22px;
}

.cover__text-things {
  font-weight: normal;
  word-spacing: 19px;
}

.btn-see-all-lots {
  margin: 0;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  font-weight: 500;
}

/* lots-otn */

.lots-otn {
  width: 100%;
  max-width: 1052px;
  min-height: 723px;
  margin: 0 auto;
}

.lots__title {
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card__lots {
  width: 100%;
  max-width: 334px;
  min-height: 596px;
  color: #fff;
}

.card-link {
  height: 100%;
}

.card__article {
  display: flex;
  position: relative; 
  flex-direction: column;           
  justify-content: space-between;   
  align-items: center; 
  padding: 48px 40px;
  height: 100%;
}

.card__text {
  z-index: 2;
}

.card__title {
  font-size: 22px;
  text-underline-offset: 3px;
}

.block-lots__film {
  background: 
  url('/images/card-lot-01.jpg') 
  no-repeat center / cover;
}

.block-lots__book {
  background: 
  url('/images/card-lot-02.jpg') 
  no-repeat center / cover;
}

.block-lots__picture {
  background: 
  url('/images/card-lot-03.jpg') 
  no-repeat center / cover;
}

.lots__look-more-link__p {
  padding: 30px 0 0 40px;
}

.lots__look-more-link__link {
  text-underline-offset: 5px;  
}

/* about-auction */

.about-auction {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 1052px;
  min-height: 595px;
  margin: 0 auto;
}

.block-logo-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%; /* откругляет конец у фона*/
  margin: 35px auto 0;
  background: #000;
}

.block-logo-white__black-background{
  display: block;
  width: 148px;
}

.about__column {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  word-wrap: break-word; /* разрешает перенос длинных слов */
  width: 100%;
  max-width: 693px;
  min-height: 452px;
  margin: 133px 0 0 25px;
}

.about__title {
  padding: 3px 0 100px;
}

.about__text {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  gap: 24px;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 292px 164px 240px; 
  grid-template-rows: auto;
  justify-content: space-between;
  padding: 0 50px;
  min-height: 180px;
  width: 100%;
}

.footer__address-otn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  min-height: 98px;
  margin: 0 50px 0 0;
  justify-self: end;
  line-height: 1.3;
  text-underline-offset: 5px; 
}

.footer__menu {
  margin: 2px 0 0 -52px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  text-underline-offset: 2px; /* чтобы сделать полоску выше или ниже */
}

.footer__social-list-item {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-icon {
  display: block;
  width: 48px;
}

/* for multiple use */

.bold-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 40px;
}

.font-main {
  font-size: 20px;
  line-height: 1.2em;
}

.list-marker-header {
  list-style-type: circle;
}

.list-no-marker {
  list-style-type: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-list {
  font-weight: normal;
  font-size: 18px;
}

.font-list__underlined {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.indent-block-big {
  margin-bottom: 180px; /* нижний  между блоками */
}

.indent-block-small {
  margin-bottom: 120px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* черный фон, 60% прозрачности */
}


