/* basic styles */

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 293px;
  justify-content: space-between;
  align-items: center; /* выравнивание по вертикали */
  width: 100%;
  text-underline-offset: 4px;
}

.header__menu {
  margin: 0px 0px 6px 50px;
}

.list-marker-header {
  display: flex;
  list-style-type: circle;
}

.list-marker-header li {
  margin-right: 32px; /* Расстояние между элементами */
}

.list-marker-header .list-marker-header-end {
  margin-right: 0;
}

.header__logo {
  display: block;
  width: 135px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 2px;
  max-width: 240px;
  margin-right: 50px;
  padding-bottom: 5px;
  font-style: normal;
  line-height: 1.3;
}

/* cover */

.cover {
  position: relative;
  width: 100%;
  min-height: 758px;
  padding-top: 166px;
  color: #fff;
  background: url("../images/cover.jpg") no-repeat center / cover;
}

.cover__title {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 0;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.3em;
  letter-spacing: 0.3em;
}

.cover__spans {
  display: block;
}

.cover__span-start {
  margin-top: -6px;
}

.cover__span-center {
  padding: 3px 0 0 28px;
  text-align: center;
}

.cover__span-end {
  margin: 5px -30px 0 0;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 98px auto 0;
  font-size: 22px;
}

.cover__text-things {
  font-weight: normal;
  word-spacing: 19px;
}

.btn-see-all-lots {
  margin: 0;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: inherit;
  font: inherit;
  font-weight: 500;
  text-transform: inherit;
  background-color: transparent;
}

/* lots */

.lots {
  width: 100%;
  max-width: 1052px;
  margin: 0 auto;
}

.lots__title {
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 29px;
}

.card__lots {
  width: 100%;
  max-width: 334px;
  color: #fff;
}

.card-link {
  height: 100%;
}

.card__article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 48px 40px;
}

.card__text {
  z-index: 2;
}

.card__title {
  padding-bottom: 35px;
  font-size: 22px;
  line-height: 1.18em;
  text-underline-offset: 3px;
}

.block-lots__film {
  background: url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.block-lots__book {
  background: url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.block-lots__picture {
  background: url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.lots__look-more-link__link {
  margin-left: 40px;
  text-underline-offset: 5px;
}

/* about-auction */

.about-auction {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 1052px;
  margin: 0 auto;
}

.block-logo-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px auto 0;
  border-radius: 50%; /* откругляет конец у фона*/
  background: #000;
}

.block-logo-white__black-background {
  display: block;
  width: 148px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 693px;
  margin: 133px 0 0 25px;
  word-wrap: break-word; /* разрешает перенос длинных слов */
}

.about__title {
  padding: 3px 0 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 292px max-content 240px;
  grid-template-rows: 180px;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  margin: 0 50px 0 0;
  padding-bottom: 5px;
  font-style: normal;
  line-height: 1.36;
  text-underline-offset: 5px;
  text-underline-offset: 5px;
}

.footer__menu {
  margin-left: 1px;
  padding: 2px 53px 0px 0px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  text-underline-offset: 3px; /* чтобы сделать полоску выше или ниже */
}

.footer__social-list-item {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-icon {
  display: block;
  width: 48px;
}

/* for multiple use */

.bold-title {
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.font-main {
  font-size: 20px;
  line-height: 1.2em;
}

.list-no-marker {
  list-style-type: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-list {
  font-weight: normal;
  font-size: 18px;
}

.font-list__underlined {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.indent-block-big {
  margin-bottom: 180px; /* нижний  между блоками */
}

.indent-block-small {
  margin-bottom: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* черный фон, 60% прозрачности */
}
